src/main/resources/wsdl/gekon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE wsdl:definitions [
        <!ELEMENT wsdl:definitions (wsdl:documentation|types|message|portType|binding|service)*>
        <!ATTLIST wsdl:definitions
                name CDATA #REQUIRED
                targetNamespace CDATA #REQUIRED
                xmlns CDATA #REQUIRED
                xmlns:wsdl CDATA #REQUIRED
                xmlns:tns CDATA #REQUIRED
                xmlns:xsd CDATA #REQUIRED
                xmlns:xmime CDATA #REQUIRED
                xmlns:soap CDATA #REQUIRED>
        <!ELEMENT wsdl:documentation (#PCDATA)>
        <!ELEMENT types (xsd:schema)*>
        <!ELEMENT xsd:schema (xsd:import|xsd:complexType|xsd:element)*>
        <!ATTLIST xsd:schema
                elementFormDefault CDATA #REQUIRED
                targetNamespace CDATA #REQUIRED>
        <!ELEMENT xsd:import (#PCDATA)>
        <!ATTLIST xsd:import
                namespace CDATA #REQUIRED
                schemaLocation CDATA #REQUIRED>
        <!ELEMENT xsd:complexType (xsd:sequence)*>
        <!ATTLIST xsd:complexType
                name CDATA #REQUIRED>
        <!ELEMENT xsd:sequence (xsd:element)*>
        <!ELEMENT xsd:element (#PCDATA)>
        <!ATTLIST xsd:element
                maxOccurs CDATA #IMPLIED
                minOccurs CDATA #IMPLIED
                name CDATA #REQUIRED
                nillable CDATA #IMPLIED
                type CDATA #REQUIRED>
        <!ELEMENT message (part)*>
        <!ATTLIST message
                name CDATA #REQUIRED>
        <!ELEMENT part (#PCDATA)>
        <!ATTLIST part
                element CDATA #REQUIRED
                name CDATA #REQUIRED>
        <!ELEMENT portType (operation)*>
        <!ATTLIST portType
                name CDATA #REQUIRED>
        <!ELEMENT operation (input|output|soap:operation)*>
        <!ATTLIST operation
                name CDATA #REQUIRED>
        <!ELEMENT input (soap:body)*>
        <!ATTLIST input
                message CDATA #IMPLIED>
        <!ELEMENT output (soap:body)*>
        <!ATTLIST output
                message CDATA #IMPLIED>
        <!ELEMENT binding (soap:binding|operation)*>
        <!ATTLIST binding
                name CDATA #REQUIRED
                type CDATA #REQUIRED>
        <!ELEMENT soap:binding (#PCDATA)>
        <!ATTLIST soap:binding
                style CDATA #REQUIRED
                transport CDATA #REQUIRED>
        <!ELEMENT soap:operation (#PCDATA)>
        <!ATTLIST soap:operation
                soapAction CDATA #REQUIRED>
        <!ELEMENT soap:body (#PCDATA)>
        <!ATTLIST soap:body
                use CDATA #REQUIRED>
        <!ELEMENT service (port)*>
        <!ATTLIST service
                name CDATA #REQUIRED>
        <!ELEMENT port (soap:address)*>
        <!ATTLIST port
                name CDATA #REQUIRED
                binding CDATA #REQUIRED>
        <!ELEMENT soap:address (#PCDATA)>
        <!ATTLIST soap:address
                location CDATA #REQUIRED>
        ]>
<wsdl:definitions name="Gekon" targetNamespace="urn:Gekon" xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:Gekon"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>FC system interface</wsdl:documentation>
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:Gekon">
            <xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="../xmlmime.xsd"/>
            <xsd:complexType name="InputSet">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="document" nillable="true"
                                 type="tns:InputSetRow"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="InputSetRow">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="doc_format" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="location" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="options" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="content" nillable="true" type="xmime:base64Binary"/>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:complexType name="MERGE_TIFFQuery">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="documents" nillable="true" type="tns:InputSet"/>
                    <xsd:element minOccurs="0" name="storage_type" nillable="true" type="xsd:string"/>

                    <xsd:element minOccurs="0" name="appl_id" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MERGE_TIFFReturn">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="doc_format" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="location" nillable="true" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="page_count" nillable="true" type="xsd:long"/>
                    <xsd:element minOccurs="0" name="content" nillable="true" type="xmime:base64Binary"/>

                    <xsd:element maxOccurs="1" minOccurs="1" name="result_code" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="error_code" nillable="true" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="error_desc" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="MERGE_TIFFRequestElement" type="tns:MERGE_TIFFQuery"/>
            <xsd:element name="MERGE_TIFFReturnElement" type="tns:MERGE_TIFFReturn"/>

        </xsd:schema>
    </types>
    <message name="MERGE_TIFFRequest">
        <part name="params" element="tns:MERGE_TIFFRequestElement">
        </part>
    </message>
    <message name="MERGE_TIFFReturn">
        <part name="return" element="tns:MERGE_TIFFReturnElement">
        </part>
    </message>
    <portType name="GekonPort">
        <operation name="MERGE_TIFF">
            <input message="tns:MERGE_TIFFRequest">
            </input>
            <output message="tns:MERGE_TIFFReturn">
            </output>
        </operation>
    </portType>
    <binding name="GekonBinding" type="tns:GekonPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="MERGE_TIFF">
            <soap:operation soapAction="MERGE_TIFF"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
</wsdl:definitions>
